@using Microsoft.AspNetCore.Identity
@using Proyecto_Vesa.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User) && @UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.UserRole == "Admin")
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Ventas" asp-action="Index">Ventas</a>
    </li>
}

