@{
    ViewData["Title"] = "Inicio";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @foreach (var item in ViewBag.Banner)
        {
            <li data-target="#carouselExampleIndicators" data-slide-to="@item" class="active"></li>
        }

    </ol>
    <div class="carousel-inner text-center">
        @foreach (var item in ViewBag.Banner)
        {
            <div class="carousel-item @(item == 1 ? "active" : "") ">
                <img class="d-block w-100" src="~/img/carrusel/@(item).jpg" alt="">
            </div>
        }

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<h2 class="text-center textColor pt-3">CONOZCAMOS JUNTOS EL SALVADOR</h2>

@section Scripts {
    <script>

    </script>
}