@{
    ViewData["Title"] = "Inicio";
}
    
<!-- Sección donde va la imagen de cabecera para la página -->
<div class="container banner text-center">
    <div class="col-12">
        <img src="~/img/banners/banner-about.jpg" alt="Nature" />
    </div>
    <h2 class="text-center textColor pt-2">Viajes por El Salvador (V. E. S. A)</h2>
</div>
<div>
    <p class="text-justify textColor">
        V.E.SA fue una idea surgida en el año 2019, con la meta de crear una colección de los lugares turísticos más "importantes"
        en El Salvador, aunque cabe destacar que para nosotros, todo lo que hay dentro de nuestro país es hermoso.
    </p>
    <p class="text-justify textColor">
        Es por ello que decidimos lanzarnos como agencia, nos apasiona presentar información y características de los lugares más importantes,
        de esa misma manera nos ponemos a disposición ante los clientes, innovando con promociones que ayudarán a fomentar el turismo en nuestro país,
        desde turistas nacionales hasta extranjeros; con un calendario mensual de tours y excursiones.
    </p>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-6">
        <div class="card bg-dark">
            <h3 class="text-center textColor pt-2">Misión</h3>
            <hr class="backColor" />
            <p class="text-justify textColor pl-2 pr-2">
                Brindar a nuestros turistas nacionales y extranjeros los servicios necesarios para que no solo puedan disfrutar de un buen lugar
                o de una buena comida. Sino también, se lleven una grata experiencia y buenos recuerdos, tanto que quieran volver a experimentarlo.
            </p>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6">
        <div class="card bg-dark">
            <h3 class="text-center textColor pt-2">Visión</h3>
            <hr class="backColor" />
            <p class="text-justify textColor pl-2 pr-2">
                Estar a la cabeza de la industria turística mediante la oferta de lugares y tours guiados de manera personalizada y profesional para
                cada uno de nuestros clientes, para exponer lo mejor de nuestro país El Salvador, tanto a nuestros compatriotas como a los de afuera.
            </p>
        </div>
    </div>
</div>
